@charset "utf-8";

.head1 { 
    font-size:40px; 
    color:#009900; 
    font-weight:bold; 
} 
.head2 { 
    font-size:17px; 
    margin-left:10px; 
    margin-bottom:15px; 
} 
body { 
    margin: 0 auto; 
    background-position:center; 
    background-size: contain; 
} 

.menu {    
    position: relative; 
    top: 0; 
    background-color: #009900; 
    padding:10px 0px 10px 0px; 
    color:white; 
    margin: 0 auto; 
    overflow: hidden; 
} 
.menu-stats {    
    position: relative; 
    top: 0; 
    background-color:lightblue; 
    padding:5px 0px 5px 0px; 
    color:white; 
    margin: 0 auto; 
    overflow: hidden; 
    text-align: center;
} 

.menu-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.menu-buttons {
    text-align: center;
}
.menu a { 
    float: left; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 20px; 
} 
.menu-log { 
    right: auto; 
    float: right; 
} 
.stages {
    float: center ;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    margin-bottom: 50px;
    
}
.stages-position {
    display:inline-block;
    text-align: center;
}
footer { 
    width: 100%; 
    bottom: 0px; 
    background-color: blue; 
    color: #fff; 
    
    padding-top:20px; 
    padding-bottom:50px; 
    text-align:center; 
    font-size:30px; 
    font-weight:bold; 
} 
.body_sec { 
    position: static;
    float: left; 
    visibility: hidden;
    margin-left:20px; 
    width: 350px;
} 
div.dataTables_wrapper  div.dataTables_filter {
    width: 100%;
    float: none;
    text-align: left;
  }


.table_id{
    position: absolute;
    display:inline-block;
}
.detail-view{
    position: absolute;
    text-align:top;
    width: 200px;
    height: 300px;
    background-color: lightblue;
    right: 5px;
    display:inline-block;
}

.message-Box-container{
    display: none;
    float: right;
    position: static;
    width: 220px;
    height: 300px;
    background-color: lightblue;
}

.message-Box-text{
    width: 200px;
    height: 250px;
}
.logOut{
    visibility: hidden;
}